- @page_title = "Admin Menu"

%ol.breadcrumb
  %li.active Home

.row
  .aside.col-md-3
    %ul.nav.nav-pills.nav-stacked
      %li= link_to "Manage Networks", controller: 'networks', action: 'index'
      %li= link_to "Manage Products", '#'
      %li= link_to "Manage Transactions", '#'
      %li= link_to "Manage Users", '#'
      %li= link_to "Logout", action: 'logout'

  .article.col-md-9
    = render(template: 'layouts/welcome')
