- @page_title = "Products"

%ol.breadcrumb
  %li= link_to "Home", controller: 'access', action: 'index'
  %li.active Products

%p
  = link_to("Add new product", { action: 'new' }, class: 'btn btn-default btn-sm', role: 'button')

%table.table
  %tr
    %th Name
    %th Price
    %th Network
    %th Action

  - @products.each do |product|
    %tr
      %td= product.name
      %td= number_with_precision(product.price, precision: 2)
      %td= product.network.name
      %td
        =link_to "Edit", edit_product_path(product)
        |
        =link_to "Delete", product, method: :delete, data: { confirm: 'Delete selected record?' }
